[Unit]
Description = Neato Serial MQTT
After = network.target

[Service]
Type=simple
ExecStart =/usr/bin/python3 /home/admin/neato-serial/neatoserialmqtt.py
WorkingDirectory=/home/admin/neato-serial
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
RestartSec=5s

[Install]
WantedBy = multi-user.target
